html {
  font-size: 16px;
  color: var(--Primary-2, #343c6a);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background: #f5f7fa;
}

.wrapper {
  display: flex;
  /*  position: relative;
*/
}

img {
  cursor: pointer;
}

.wrapper .sidebar {
  width: 249px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #e6eff5;
  padding: 30px 0px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.wrapper .sidebar ul li {
  padding: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.wrapper .sidebar ul li:first-child {
  border-left: 6px solid;
  border-radius: 0px 10px 10px 0px;
  border-color: var(--Primary-3, #2d60ff);
}

#link__selected {
  color: var(--Primary-3, #2d60ff);
}

.wrapper .sidebar ul li a {
  color: #b1b1b1;
  display: block;
  font-size: 18px;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul {
  padding: 0px;
  width: 100%;
}

.wrapper .sidebar ul li:hover {
  border-left: 6px solid;
  border-radius: 0px 10px 10px 0px;
  border-color: var(--Primary-3, #2d60ff);
}

.wrapper .sidebar ul li:hover a {
  color: var(--Primary-3, #2d60ff);
}

.wrapper .main_content {
  width: 100%;
  margin-left: 249px;
}

.wrapper .main_content .header {
  padding: 28px 40px;
  background: #fff;
  color: var(--Primary-2, #343c6a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper .main_content .header .header__input {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wrapper .main_content .header .header__input img:last-child {
  border-radius: 50%;
  height: 50px;
}

#text {
  background: #f5f7fa;
  border-radius: 40px;
  border-style: none;
  padding: 16px 23px 16px 53px;
  background-image: url("../photos/searchicon.svg");
  background-repeat: no-repeat;
  background-position: left 25px center;
}

#text::placeholder {
  color: #8ba3cb;
}

.wrapper .main_content .header h2 {
  margin: 0px;
  font-size: 28px;
  font-weight: 600;
}

/* || infos*/

.wrapper .main_content .info {
  margin: 24px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.wrapper .main_content .info div {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .main_content .info .info__cards__maincard {
  flex-direction: column;
  font-weight: 600;
  gap: 20px;
}

.wrapper .main_content .info .info__cards__maincard h3 {
  color: #343c6a;
  font-size: 22px;
  margin: 0px;
}

.wrapper .main_content .info .info__cards {
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.wrapper .main_content .info .info__cards__maincard__details {
  border-radius: 25px;
  background: linear-gradient(107deg, #4c49ed 2.61%, #0a06f4 101.2%);

  flex-direction: column;

  color: #fff;
  gap: 33px;
}

.wrapper .main_content .info .info__cards__maincard__details__content {
  padding: 26px 26px 10px 26px;
  align-items: center;
  justify-content: space-between;
}

.wrapper .main_content .info .info__cards__maincard__details__content__balance {
  flex-direction: column;
}

.wrapper
  .main_content
  .info
  .info__cards__maincard__details__content__balance
  span:first-child {
  font-size: 12px;
  font-weight: 400;
}

.wrapper
  .main_content
  .info
  .info__cards__maincard__details__content__balance
  span:last-child {
  font-size: 20px;
}

.info__cards__maincard__details__personalInfo-content {
  flex-direction: column;
}

.info__cards__maincard__details__personalInfo-content span:first-child {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 400;
}

.info__cards__maincard__details__personalInfo-content span:last-child {
  font-weight: 600;
}

.info__cards__maincard__details__personalInfo {
  align-items: center;
  gap: 67px;
  padding: 0px 26px;
}

.info__cards__maincard__details__cardInfo {
  padding: 22px 26px;
  align-items: center;
  gap: 55px;
  border-radius: 0px 0px 25px 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.info__cards__maincard__details__cardInfo span {
  font-size: 22px;
}

.leftFlow {
  align-items: flex-end;
}

.wrapper .main_content .info .leftFlow h3 {
  font-size: 17px;
}

.wrapper .main_content .info .leftFlow .info__cards__maincard__details {
  border-radius: 25px;
  border: 1px solid #dfeaf2;
  background: #fff;
  color: #343c6a;
}

.wrapper
  .main_content
  .info
  .leftFlow
  .info__cards__maincard__details
  span:first-child {
  color: #718ebf;
}

.wrapper
  .main_content
  .info
  .leftFlow
  .info__cards__maincard__details
  .info__cards__maincard__details__cardInfo
  span {
  color: #343c6a;
}

.wrapper
  .main_content
  .info
  .leftFlow
  .info__cards__maincard__details
  .info__cards__maincard__details__cardInfo {
  border-radius: 0px 0px 25px 25px;
  border: 1px solid #dfeaf2;
}

.info__cards__maincard__recent {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  background: #fff;
  padding: 28px;
  gap: 13px;
  width: 317px;
}

.info__cards__maincard__recent__transaction {
  justify-content: space-between;
  align-items: center;
}

.wrapper
  .main_content
  .info
  .info__cards__maincard__recent__transaction__bond__info {
  flex-direction: column;
  gap: 13px;
}

.wrapper
  .main_content
  .info
  .info__cards__maincard__recent__transaction__bond__info
  span:first-child {
  color: #232323;
  font-size: 16px;
  font-weight: 500;
}

.wrapper
  .main_content
  .info
  .info__cards__maincard__recent__transaction__bond__info
  span:last-child {
  color: #718ebf;
  font-size: 15px;
  font-weight: 400;
}

.info__cards__maincard__recent__transaction__bond {
  align-items: center;
  gap: 17px;
}

.expired {
  color: #ff4b4a;
  font-size: 16px;
  font-weight: 500;
}

.income {
  color: #41d4a8;
  font-size: 16px;
  font-weight: 500;
}

/* || Weekly Activity */
.info__cards__maincard__activitychart {
  flex-direction: column;
  gap: 20px;
}

.info__cards__maincard__activitychart h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0px;
}

.info__cards__maincard__activitychart__info {
  border-radius: 25px;
  background: #fff;
  padding: 24px 40px;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}

.info__cards__maincard__activitychart__info__ellipse {
  gap: 30px;
}

.info__cards__maincard__activitychart__info__ellipse div span {
  color: #718ebf;
  font-size: 15px;
  font-weight: 400;
}

.info__cards__maincard__activitychart__info__ellipse div {
  gap: 10px;
}

.info__cards__maincard__expensestatistics {
  flex-direction: column;
  gap: 20px;
}

.info__cards__rowCard {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info__cards__maincard__expensestatistics h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0px;
}

.info__cards__maincard__expensestatistics__info {
  border-radius: 25px;
  background: #fff;
  padding: 2px;
}

/* || Transfer */
.info__cards__TransferCard {
  width: 100%;
  justify-content: space-between;
}

.info__cards__maincard__transferContainer {
  border-radius: 25px;
  background: #fff;
  padding: 50px 25px;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.info__cards__maincard__transferContainer__details {
  gap: 28px;
  align-items: center;
}

.info__cards__maincard__transferContainer__details__person {
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.info__cards__maincard__transferContainer__details__person span:first-of-type {
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.info__cards__maincard__transferContainer__details__person
  span:first-of-type:hover {
  font-weight: 500;
}

.info__cards__maincard__transferContainer__details__person span:last-of-type {
  color: #718ebf;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.info__cards__maincard__transferContainer__details__person
  span:last-of-type:hover {
  font-weight: bold;
}

.info__cards__maincard__transferContainer__input span {
  color: #718ebf;
  font-size: 16px;
  font-weight: 400;
}

.info__cards__maincard__transferContainer__input {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#number {
  border-radius: 50px;
  background: #edf1f7;
  border-style: none;
  padding: 16px 30px;

  box-sizing: border-box;
}

#number::-webkit-outer-spin-button,
#number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit {
  border-radius: 50px;
  background: #1814f3;
  box-shadow: 4px 4px 18px -2px rgba(231, 228, 232, 0.8);
  border-style: none;
  position: relative;

  padding: 16px 61px 16px 24px;
  color: #fff;
  font-size: 16px;
  background-image: url("../photos/sendIcon.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;

  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
}

#container {
  position: relative;
  width: 245px;
  margin: auto;
}

.info__cards__maincard__balanceContainer {
  border-radius: 25px;
  background: #fff;
  padding: 15px 15px;
}
